
# Identifiants partagés par toutes les bases de données
POSTGRES_USER=                        
POSTGRES_PASSWORD=                       

# Ports exposés sur l'hôte 
DB_PORT_USERS=5432
DB_PORT_CLIENT=5433
DB_PORT_SCORING=5434
DB_PORT_CONSULTANT=5435



KEYCLOAK_PORT=8180
KEYCLOAK_ADMIN=admin                     
KEYCLOAK_ADMIN_PASSWORD=                
KEYCLOAK_REALM=pfe-realm


EUREKA_PORT=8761


KAFKA_PORT=9092


PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=                        



